#board{
    display:grid;
    grid-column-gap:10px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
    width:40%;
    margin: auto 50px;
    background-color: gray;
}

#popup {
    padding: 50px 20px;
}

#popup > button{
    padding: 10px 15px;
    border-radius: 30px;
    background-color: blue;
    color: antiquewhite;
}

#board > div {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
    min-height: 100px;
}

body{
    background-color: white;
}
#app{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
}

*{
    box-sizing: border-box;
}